@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .how-sweet-img {
    height: 24.4375rem;
    border-top-left-radius: 0px;
  }

  .group2 {
    order: 1;
  }
  .group {
    order: 2;
    grid-column: span 2;
  }
  .goods-group {
    order: 3;
    grid-column: span 2;
  }
  .wrap2 {
    order: 4;
  }
  .logo2 {
    order: 5;
  }

  .how-sweet-group {
    order: 6;
    grid-column: span 2;

    .how-sweet-bg {
      background-color: white;
      border-radius: var(--main-border);
      padding-left: 28.26275rem;
    }
  }

  /* .wrap,
  .wrap2 {
    justify-self: end;
  } */
}
